<ngx-ui-button [buttonOptions]="{size: 'small'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'small', fill: 'bordered'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', fill: 'bordered'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', fill: 'bordered'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'small', fill: 'transparent'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', fill: 'transparent'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', fill: 'transparent'}"></ngx-ui-button>
<hr>
<ngx-ui-button [buttonOptions]="{size: 'small', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'small', fill: 'bordered', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', fill: 'bordered', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', fill: 'bordered', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'small', fill: 'transparent', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', fill: 'transparent', theme: 'green'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', fill: 'transparent', theme: 'green'}"></ngx-ui-button>
<hr>
<ngx-ui-button [buttonOptions]="{size: 'small', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'small', fill: 'bordered', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', fill: 'bordered', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', fill: 'bordered', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'small', fill: 'transparent', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'medium', fill: 'transparent', theme: 'dark'}"></ngx-ui-button>
<ngx-ui-button [buttonOptions]="{size: 'large', fill: 'transparent', theme: 'dark'}"></ngx-ui-button>
