// colors

//blue theme

$blue-success: #0278ae
$blue-info: #a5ecd7
$blue-error: #ed6663
$blue-alert: #e8ffc1
$blue-standart: #51adcf

//green-theme

$green-success: #388E3C
$green-info: #8BC34A
$green-error: #f56a79
$green-alert: #C8E6C9
$green-standart: #4CAF50