// colors

//standart

$white: #fafafa
$black: #333333

$light-theme-border: #d6d6d6
$light-theme-background: #ffffff
$light-theme-fill: #2B2B2B
$light-theme-accent-color: #393C60
$light-theme-success-color: #607D42
$light-theme-error-color: #794155
$light-theme-alert-color: #8A794A

$dark-theme-border: #1E1E22
$dark-theme-background:#29292E
$dark-theme-fill: #D9D9E0
$dark-theme-accent-color: #171824
$dark-theme-success-color: #252F1B
$dark-theme-error-color: #2E1A21
$dark-theme-alert-color: #342E1E

//blue-theme

$blue-success: #0278ae
$blue-info: #a5ecd7
$blue-error: #ed6663
$blue-alert: #e8ffc1
$blue-standart: #51adcf

//green-theme

$green-success: #388E3C
$green-info: #8BC34A
$green-error: #f56a79
$green-alert: #C8E6C9
$green-standart: #4CAF50

//dark-theme

$dark-success: #455A64
$dark-info: #CFD8DC
$dark-error:#FF5252
$dark-alert: #9E9E9E
$dark-standart: #607D8B

$standart-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3)
$simple-transition: all 250ms ease-in-out